<!DOCTYPE html>
<html>
<head>
	<title></title>   
    <!--<link rel="stylesheet" type="text/css" href="../styles.css">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <header>
        <div class="container">
            <div id="brandname">
                <h2>Emergency Dashboard</h2>
            </div>
        </div>
      
    </header>
	<p style="color:blue;font-size:20;text-align: center;"><b>Call Emergency</b></p>
	<div class="resultss">
	</div>

</body>
</html>